APP_NAME=Enterprise-task-and-workflow-management-system
DATASOURCE_URL=jdbc:mysql://localhost:3306/your_databasse?useSSL=false&serverTimezone=UTC
DATASOURCE_USERNAME=root
DATASOURCE_PASSWORD=your_password_here
DATASOURCE_DRIVER_CLASS_NAME=com.mysql.cj.jdbc.Driver
JPA_HIBERNATE_DDL_AUTO=update
JPA_SHOW_SQL=true
JWT_SECRET=your_jwt_secret_key_at_least_32_characters_long
JWT_EXPIRATION=3600000
FRONTEND_URL=http://localhost:5173
ADMIN_EMAIL=admin@company.com
ADMIN_PASSWORD=change_this_secure_password_before_deployment
